:root {
    --main-color: #fff;
}

html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background: linear-gradient(#444, #222);
    min-width: 100vw;
    margin: 0;
    position: fixed;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 2px #000;
    height: 100%;
}

.p {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#444, #222);
}

.t {
    font: 6px sans-serif;
    fill: #555;
    text-shadow: none;
    text-anchor: middle;
    width: 100%;
    margin: auto;
    display: block;
}

.M1, .M2, .M3, .M4 {
    font-size: 8px;
}

.g {
    fill: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
}

a:link {
    text-decoration: none;
    color: var(--main-color);
}

.pageBody {
    text-align: justify
}

a:visited {
    color: var(--main-color);
    filter: brightness(85%);
}

a:hover, a:focus {
    color: var(--main-color);
    filter: brightness(125%);
}

a:active {
    color: var(--main-color);
    filter: brightness(125%);
}

#next {
    position: absolute;
    right: max(20px, calc(50% - 300px));
    bottom: 4vmin;
}

#prev {
    position: absolute;
    left: max(20px, calc(50% - 300px));
    bottom: 4vmin;
}

[aria-hidden="true"] {
    display: none;
}

#pageIndicator {
    position: absolute;
    left: 50%;
    bottom: 4.6vmin;
    transform: translateX(-50%);
    min-width: 4em;
    display: block;
    text-align: center;
    z-index: 1000;
    font-size: large;
    line-height: 1;
    align-items: initial;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

#pageIndicator:visited {
    color: #fff;
    filter: none;
}

#pageIndicator:hover,
#pageIndicator:focus {
    cursor: pointer;
}

.txtsvg {
    stroke: #fff;
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 24px;
    vertical-align: text-bottom;
}

.sb {
    width: 4.5vmin;
    height: 4.5vmin;
    min-width: 30px;
    min-height: 30px;
    stroke: #555;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 6;
    fill: none;
    z-index: 1000;
}

circle:not(#ctrlfire) {
    pointer-events: none;
}

.sb:hover, a svg:hover {
    stroke: #fff;
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
}

.pC {
    display: block;
    overflow: auto;
    margin: 0 auto 0 auto;
    width: 600px;
    max-width: calc(100vw - 40px);
    height: 100%;
}

.c, .c > span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.c > span {
    margin-bottom: 3vmin;
}

.show {
    transform: translateX(0);
    transition: transform 0.7s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.left {
    transform: translateX(-100vw);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.7s ease-in-out, visibility 0s 0.7s, opacity 0s 0.7s;
}

.right {
    transform: translateX(100vw);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.7s ease-in-out, visibility 0s 0.7s, opacity 0s 0.7s;
}

