:root {
    --main-color: #878ade;
}

html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background: linear-gradient(#444, #222);
    min-width: 100vw;
    margin: 0;
    position:fixed;
    overflow:hidden;
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 2px #000;
    height: 100%;
}

.p {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#444, #222);
}

#c, .t, #ctrl {
    font: 6px sans-serif;
    fill: #555;
    text-shadow: none;
    text-anchor: middle;
    width: 100vmin;
    margin: auto;
    display: block;
}

@media (orientation: landscape) {
    #ctrl {
        width: 100%;
        max-width: 60vh;
    }
}
@media (orientation: portrait) {
    #ctrl {
        width: 100%;
    }
}

.t {
    width: 100%;
}

[for="speed"] {
    width: 100%;
    margin-bottom: 0;
}

.M1, .M2, .M3, .M4 {
    font-size:8px;
}

.g, .M5 .M5, .M10 .M10, .M15 .M15, .M20 .M20, .M30 .M30, .MV .MV, .MA .MA,
.H1 .H1, .H2 .H2, .H3 .H3, .H4 .H4, .H5 .H5, .H6 .H6, .H7 .H7, .H8 .H8, .H9 .H9, .H10 .H10, .H11 .H11, .H0 .H0,
.M1 .M1, .M2 .M1, .M3 .M1, .M4 .M1, .M2 .M2, .M3 .M2, .M4 .M2, .M3 .M3, .M4 .M3, .M4 .M4 {
    fill: var(--main-color);
    text-shadow:0 0 10px var(--main-color);
}

.off .g:not(.colorBtn) {
    fill: #555;
    text-shadow: none;
}

.d .g, .d .M5 .M5, .d .M10 .M10, .d .M15 .M15, .d .M20 .M20, .d .M30 .M30, .d .MV .MV, .d .MA .MA,
.d .H1 .H1, .d .H2 .H2, .d .H3 .H3, .d .H4 .H4, .d .H5 .H5, .d .H6 .H6, .d .H7 .H7, .d .H8 .H8, .d .H9 .H9, .d .H10 .H10, .d .H11 .H11, .d .H0 .H0,
.d .M1 .M1, .d .M2 .M1, .d .M3 .M1, .d .M4 .M1, .d .M2 .M2, .d .M3 .M2, .d .M4 .M2, .d .M3 .M3, .d .M4 .M3, .d .M4 .M4 {
    filter: brightness(70%);
}

a:link {
    color: var(--main-color);
}
a:visited {
    color: var(--main-color);
    filter: brightness(85%);
}
a:hover, a:focus {
    color: var(--main-color);
    filter: brightness(125%);
}
a:active {
    color: var(--main-color);
    filter: brightness(125%);
}

#s, #xS, #xCT, #xGOA, #xMM, #xWG {
    position: absolute; right: 4vmin; bottom: 4vmin;
}

#p, #xGO {
    position: absolute; left: 4vmin; bottom: 4vmin;
}

#sCT, #sMM, #sWG {
    position: absolute; left: 4vmin; bottom: 4vmin;
    display: flex;
    align-items: center;
}

.sb, .snb, .svgMsg {
    width: 4.5vmin;
    height: 4.5vmin;
    min-width: 30px;
    min-height: 30px;
    stroke: #555;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width:6;
    fill:none;
    z-index: 1000;
}

.dd {
    transform: rotate(90deg);
    transition: transform 0.7s ease-in-out;
    overflow: hidden;
}
.ddo {
    transform: rotate(270deg);
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}
li {
    max-height: calc(4.5vmin + 60px);
    transition: max-height 0.7s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
li label, li svg {
    margin-bottom: 20px;
}
ul.cl li {
    max-height: 0;
    transition: max-height 0.7s ease-in-out;
}

circle {
    pointer-events: none
}

input[type="text"] {
    width: calc(100% - 4.5vmin - 40px);
    border: 2px solid #555;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    font-size: larger;
}

input[type="text"]:focus {
    border: 2px solid #fff;
    outline: none;
}

input[type="text"].error {
    border: 2px solid #f70562;
}
input[type="text"].ok {
    border: 2px solid #059c7d;
}

.sb:hover, .sb.g, .snb:hover, .snb.g {
    stroke: #fff;
    text-shadow:0 0 10px #fff;
    cursor: pointer;
}
path.snb {
    stroke-width:1.4;
    fill: #333;
    fill-opacity: 0.01;
}

#pCT.tetris .sn {
    display: none;
}

#pCT.snake .te {
    display: none;
}

.pC {
    display: block;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    width: 600px;
    max-width: calc(100vw - 40px);
    height: 100%;
}

#pCS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu {
    overflow-y: auto;
}

.pb, .c, .c > span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.c > span {
    margin-bottom: 3vmin;
}
.pf {
    margin-top: auto;
    max-width: calc(100vw - 80px);
}
#co {
    appearance: none;
    background-color: transparent;
    width: 4.5vmin;
    height: 4.5vmin;
    min-width: 30px;
    min-height: 30px;
    border: none;
    cursor: pointer;
}
#co::-webkit-color-swatch {
    border-radius: 50%;
    border: 0.45vmin solid #555;
}
#co::-moz-color-swatch {
    border-radius: 50%;
    border: 0.45vmin solid #555;
}
#co::-webkit-color-swatch:hover {
    border: 0.45vmin solid #fff;
}
#co::-moz-color-swatch:hover {
    border: 0.45vmin solid #fff;
}

.h {
    display: none;
}

[data-num='1'] {
    fill: #fc034e
}
[data-num='2'] {
    fill: #fc6f03
}
[data-num='3'] {
    fill: #fcce03
}
[data-num='4'] {
    fill: #18fc03
}
[data-num='5'] {
    fill: #0384fc
}
[data-num='6'] {
    fill: #f803fc
}

.show {
    transform: translateX(0);
    transition: transform 0.7s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.left {
    transform: translateX(-100vw);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.7s ease-in-out, visibility 0s 0.7s, opacity 0s 0.7s;
}

.right {
    transform: translateX(100vw);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.7s ease-in-out, visibility 0s 0.7s, opacity 0s 0.7s;
}

.sl {
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: none;
    margin: 10px 0;
    direction: rtl;
    border: solid calc(2px + 0.2vmin) #555;
}

.sl::-webkit-slider-thumb {
    appearance: none;
    width: 3vmin;
    height: 3vmin;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background: var(--main-color);
    cursor: pointer;
    outline: solid 0.45vmin #555;
}
.sl::-webkit-slider-thumb:hover {
    outline: solid 0.45vmin #fff;
}

.sl::-moz-range-thumb {
    width: 3vmin;
    height: 3vmin;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background: var(--main-color);
    cursor: pointer;
    outline: solid 0.45vmin #555;
}
.sl::-moz-range-thumb:hover {
    outline: solid 0.45vmin #fff;
}
