html {
    height: 100%;
    user-select: none;
}

body {
    background: linear-gradient(#444, #222);
    min-width: 100vw;
    margin: 0;
    position:fixed;
    overflow:hidden;
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 2px #000;
    height: 100%;
}

.page {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#444, #222);
}

.glow, .M5 .M5, .M10 .M10, .M15 .M15, .M20 .M20, .M30 .M30, .MV .MV, .MA .MA,
.H1 .H1, .H2 .H2, .H3 .H3, .H4 .H4, .H5 .H5, .H6 .H6, .H7 .H7, .H8 .H8, .H9 .H9, .H10 .H10, .H11 .H11, .H12 .H12,
.M1 .M1, .M2 .M1, .M3 .M1, .M4 .M1, .M2 .M2, .M3 .M2, .M4 .M2, .M3 .M3, .M4 .M3, .M4 .M4 {
    fill: #fff;
    text-shadow:0 0 10px #fff;
}

a:link {
    color: #ee1149;
}
a:visited {
    color: #de0139;
}
a:hover, a:focus {
    color: #ff2162;
}
a:active {
    color: #ff2162;
}

#settings, #settingsClose {
    position: absolute; right: 4vmin; bottom: 4vmin;
}

.svgButton {
    width: 4.5vmin;
    height: 4.5vmin;
    stroke: #555;
    stroke-linejoin: round;
    stroke-width:6;
    fill:none;
}
.svgButton:hover {
    stroke: #fff;
    text-shadow:0 0 10px #fff;
    cursor: pointer;
}

#pageSettings {
    transform: translateX(100vw);
    visibility: hidden;
    opacity: 0;
}
.pageContent {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    max-width: calc(100vw - 40px);
}
.pageBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.pageFooter {
    margin-top: 40px;
}
#color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 4.5vmin;
    height: 4.5vmin;
    border: none;
    cursor: pointer;
}
#color::-webkit-color-swatch {
    border-radius: 50%;
    border: 0.45vmin solid #555;
}
#color::-moz-color-swatch {
    border-radius: 50%;
    border: 0.45vmin solid #555;
}
#color::-webkit-color-swatch:hover {
    border: 0.45vmin solid #fff;
}
#color::-moz-color-swatch:hover {
    border: 0.45vmin solid #fff;
}

a:link {
    color: #ee1149;
}
a:visited {
    filter: brightness(85%);
}
a:hover, a:focus {
    filter: brightness(125%);
}
a:active {
    filter: brightness(125%);
}

.hide {
    display: none;
}
.dark {
    filter: brightness(60%);
}

.swipe-in {
    animation-name: swipe-in;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-in {
    0% {
        transform: translateX(100vw);
        visibility: hidden;
        opacity: 0;
    }
    1% {
        transform: translateX(100vw);
        visibility: visible;
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
}

.swipe-out {
    animation-name: swipe-out;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-out {
    0% {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
    99% {
        transform: translateX(-100vw);
        visibility: visible;
        opacity: 1;
    }
    100% {
        transform: translateX(-100vw);
        visibility: hidden;
        opacity: 0;
    }
}
.swipe-in-left {
    animation-name: swipe-in-left;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-in-left {
    0% {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
    99% {
        transform: translateX(100vw);
        visibility: visible;
        opacity: 1;
    }
    100% {
        transform: translateX(100vw);
        visibility: hidden;
        opacity: 0;
    }
}

.swipe-out-right {
    animation-name: swipe-out-right;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-out-right {
    0% {
        transform: translateX(-100vw);
        visibility: hidden;
        opacity: 0;
    }
    1% {
        transform: translateX(-100vw);
        visibility: visible;
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
}

